@include mediaXl {
  
}

@include mediaLg {
  
}

@include mediaMd {
  #showcase {
    .img-responsive {
      display: none;
    }
  }
}

@include mediaSm {
  footer {
    a {
      display: block;
      width: 100%;
      padding: 1rem;
    }
  }
}